/*  KEEP OUR CSS CLEAN
    Some guidelines to follow:
    1. Break code down into sections.
    2. Keep your rules alphabetically sorted.
    3. Only put one selector per line for a block of rules that apply to multiple selectors.
    4. Indent your rules, only one rule per line.
    5. Indent proprietary properties with two spaces. Keep these properties directly below the proposed property.
        
        example:
        
        element#id,
        element.class {
            rule1: value;
              -webkit-rule2: value;
              -moz-rule2: value;
            rule2: value;
            top: value;
        }
*/

/* Eric Meyer Reset. */
/* v1.0 | 20080212 */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

/* remember to define focus styles! */
:focus {
	outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* =BODY
   ------------------------------------------------------ */
   body {
      background: #fff;
   }
   
   .cssgradients body {
      background: -webkit-gradient(radial, 50% 50%, 300, 50% 0, 3000, from(rgba(255, 255, 255, 1)), to(rgba(0,0,0,0.1))) rgba(0,0,0,.1) no-repeat fixed;
   }
   
/* =NAV
   ------------------------------------------------------ */
   nav {
      background: rgba(255,255,255,0.15);
   }
   
   h1 {
      margin: -42px 0 0 -263px;
      left: 50%;
      position: absolute;
      top: 50%;
   }